{
    "DefaultNoStripping": true,
    "DisablePreopt": false,
    "DisablePreoptModules": [],
    "OnlyPreoptBootImageAndSystemServer": true,
    "GenerateApexImage": false,
    "UseApexImage": false,
    "DontUncompressPrivAppsDex": false,
    "ModulesLoadedByPrivilegedModules": [],
    "HasSystemOther": false,
    "PatternsOnSystemOther": ["app/%","priv-app/%","product_services/app/%","product_services/priv-app/%","product/app/%","product/priv-app/%"],
    "DisableGenerateProfile": false,
    "ProfileDir": "",
    "BootJars": ["core-oj","core-libart","okhttp","bouncycastle","apache-xml","conscrypt","framework","ext","telephony-common","voip-common","ims-common","updatable-media","android.test.base","telephony-ext"],
    "RuntimeApexJars": ["core-oj","core-libart","okhttp","bouncycastle","apache-xml"],
    "ProductUpdatableBootModules": ["conscrypt","updatable-media"],
    "ProductUpdatableBootLocations": ["/apex/com.android.conscrypt/javalib/conscrypt.jar","/apex/com.android.media/javalib/updatable-media.jar"],
    "SystemServerJars": ["services","ethernet-service","wifi-service","com.android.location.provider"],
    "SystemServerApps": ["SettingsProvider","WallpaperBackup","FusedLocation","InputDevices","KeyChain","Telecom"],
    "SpeedApps": [],
    "PreoptFlags": [],
    "DefaultCompilerFilter": "",
    "SystemServerCompilerFilter": "",
    "GenerateDmFiles": false,
    "NeverAllowStripping": true,
    "NoDebugInfo": false,
    "DontResolveStartupStrings": false,
    "AlwaysSystemServerDebugInfo": false,
    "NeverSystemServerDebugInfo": false,
    "AlwaysOtherDebugInfo": false,
    "NeverOtherDebugInfo": false,
    "MissingUsesLibraries": ["com.google.android.ble","com.google.android.wearable"],
    "IsEng": true,
    "SanitizeLite": false,
    "DefaultAppImages": false,
    "Dex2oatXmx": "512m",
    "Dex2oatXms": "64m",
    "EmptyDirectory": "/root/out/empty",
    "CpuVariant": {
        "arm64": "cortex-a53",
        "arm": "cortex-a53"
    },
    "InstructionSetFeatures": {
        "arm64": "default",
        "arm": "default"
    },
    "DirtyImageObjects": "frameworks/base/config/dirty-image-objects",
    "PreloadedClasses": "frameworks/base/config/preloaded-classes",
    "BootImageProfiles": [],
    "UseProfileForBootImage": true,
    "BootFlags": "--generate-mini-debug-info",
    "Dex2oatImageXmx": "64m",
    "Dex2oatImageXms": "64m",
    "Tools": {
        "Profman": "/root/out/soong/host/linux-x86/bin/profman",
        "Dex2oat": "/root/out/soong/host/linux-x86/bin/dex2oatd",
        "Aapt": "/root/out/soong/host/linux-x86/bin/aapt",
        "SoongZip": "/root/out/soong/host/linux-x86/bin/soong_zip",
        "Zip2zip": "/root/out/soong/host/linux-x86/bin/zip2zip",
        "VerifyUsesLibraries": "build/make/core/verify_uses_libraries.sh",
        "ConstructContext": "build/make/core/construct_context.sh"
    }
}
